.exchangeMenu{
    background-color: rgb(255, 255, 255);
    height: fit-content;
    width: 93vw;
    transform: translateY(0px);
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
    font-size: 20px;
}
h2{
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 60px;
    text-align: center;
    background-color: transparent;
}
.counters{
    background-color: white;
    display: flex;
    place-content: center;
    padding-top: 60px;
}
.counter{
    background-color: rgb(238, 237, 245);
    border: 2px solid black;
    border-radius: 30px;
    height:300px;
    width: 300px;
    margin: 20px;
    padding: 30px;
}
.counterImg{
    height: 80%;
    width: 100%;
}
.counterBtn{
    padding: 10px;
    font-size: 20px;
    color: white;
    background-color: rgb(8, 0, 80);
    border-radius: 10px;
    margin-top: 20px;
}
.counterBtn:hover{
    cursor: pointer;
    background-color: rgb(13, 43, 107);
}
.counterText{
    display: flex;
    align-items: center;
    justify-content: center;
}
@media screen and (max-width:750px){
    h2{
        padding-top: 40px;
        font-size: 20px;
    }
    .counters{
        padding-top: 30px;
        flex-direction: column;
        align-items: center;
    }
}