
.tableBtn{
    padding: 6px;
    padding-right: 12px;
    padding-left: 12px;
    background-color: rgb(29, 15, 15);
    border-radius: 10px;
    color: white;
}
.tableBtn:hover{
    background-color : rgb(70, 55, 55);
}
.innerBtnDiv{
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    padding-top: 10px;
}
.innerBtn{
    border-radius: 10px;
    color: white;
    padding: 5px;
    background-color: rgb(51, 143, 74);
}
.innerBtn:hover{
    background-color: rgb(84, 182, 84);
}

.modalInput{
    width: 95%;
    padding: 5px;
    outline: none;
    margin-top: 10px;
}
.modalInputDiv{
    padding-top: 10px;
}
